{{#if showPushNotification}}
  {{#unless bannerDismissed}}
  {{#unless pushNotificationSubscribed}}
    <div style="position: relative; top: 60px; padding: 20px 0px; background-color: #d1f0ff; text-align: center;">
      This site needs your permission to <a {{action "subscribe"}}>enable notifications</a>.<a style="float: right; margin-right: 15px;" {{action "dismiss"}}><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
  {{/unless}}
  {{/unless}}
{{/if}}
